vim/vim.symlink/bundle/Gist.vim/doc/tags
vim/vim.symlink/bundle/snipmate.vim/doc/tags
vim/vim.symlink/bundle/textile.vim/doc/tags
vim/vim.symlink/bundle/vim-git/doc/tags
vim/vim.symlink/bundle/vim-matchit/doc/tags
vim/vim.symlink/bundle/vim-ruby/doc/tags
