vim.symlink/bundle/Gist.vim/doc/tags
vim.symlink/bundle/snipmate.vim/doc/tags
vim.symlink/bundle/textile.vim/doc/tags
vim.symlink/bundle/vim-git/doc/tags
vim.symlink/bundle/vim-eunuch/doc/tags
vim.symlink/bundle/vim-unimpaired/doc/tags
vim.symlink/bundle/vim-matchit/doc/tags
vim.symlink/bundle/vim-ruby/doc/tags
vim.symlink/bundle/vim-fakeclip/doc/tags
vim.symlink/.netrwhist
